@media only screen and (max-width: 1000px) {
    .menu {
        width: 100%;
        background-color: #222222;
        
    }

    .lbl {
        display: block;
    }

    .menu ul {
        display: none;
        width: 100%;
        padding: 40px;
    }

    #chk1:checked + .menu ul {
        display: block;
        width: 100%;
        /*right: 70px*/
    }

    .menu li {
        width: 100%;
        display: block;
        float: none;
    }

    .menu ul li a {
        color:white;
        text-align: center;
       display:block;
    }
    .menu ul li i{
        margin-bottom:5px;
    }
    .icon h3{
        padding-bottom:20px;
    }
}

@media only screen and (max-width:1200px){
    .slide h2{
        width:65%;
        font-size:29px;
    }
    .slide p{
        width:65%;
    }

}
@media only screen and (max-width: 976px)  {
     .slide h2{
        width:70%;
        font-size:24px;
    }
    .slide p{
        width:70%;
    }

    .icon1-sponser i{
        top:173px;
    }

    .icon-sponser i{
        bottom:193px;
    }
    
}
@media only screen and (max-width: 610px) {
     .slide h2{
        width:87%;
        font-size:22px;
    }
    .slide p{
        width:87%;
    }
}
/*@media only screen and (max-width: 755px) {
     .icon1-sponser i{
       display:none;
    }

    .icon-sponser i{
       display:none;
    }
       
}*/
@media only screen and (max-width: 768px)  {
     .border-main{
        border:none !important;
    }
     .image img{
         width:50% !important;
     }
     .icon1-sponser i{
       display:none;
    }

    .icon-sponser i{
       display:none;
    }
    .border-main{

    }
       
}
@media only screen and (max-width: 976px)  {
    .image img{
        width:75%;
        object-fit: contain;
    }
    .border-main{
   position: absolute;
    border-top: 4px groove #f8f8f8;
    top: 182px;
    bottom: 10px;
    right: 0px;
    left: 0px;
    }
    .sub{
        text-align:center;
    }
}
@media(max-width:480px){
    .sub .left p{
        text-align:center;
    }
    .sub .right p{
        text-align:center;
    }
}